<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
	integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE"
	crossorigin="anonymous">

<title>Add Timesheet</title>
</head>

<body>

	

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card ">
					<div class="card-body">
						<h4 class="text-center text-primary">Add Timesheet</h4>
						
						<form th:action="@{/emp/addingTimesheet}" method="post">

						<!-- 	 <input type="hidden" th:value="${emp.empId}" name=empId> -->

							<div class="form-group">
								<label>Regular Hours</label> <input type="text"
									class="form-control" name="regularHours">
									
							</div>


							<div class="form-group">
								<label> Extra Hours</label> <input type="number"
									class="form-control" name="extraHours">
									
							</div>

							<div class="form-group">
								<label>From Date</label> <input type="date"
									class="form-control" name="fromDate">
									
										<div class="form-group">
								<label>To Date</label> <input type="date"
									class="form-control" name="toDate">
									
							</div>
							<button class="btn btn-primary btn-block">Submit</button>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>