<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css"
	integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE"
	crossorigin="anonymous">

<title>View Leave</title>
</head>
<body>
	<div class="container p-5">
		<table class="table">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">LeaveId</th>
					<th scope="col">From date</th>
					<th scope="col">To date</th>
					<th scope="col">Reason</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="l:${leave}">
					<th th:text="${l.leaveId}"></th>
					<td th:text="${l.fromdateOfLeave}"></td>
					<td th:text="${l.todateOfLeave}"></td>
					<td th:text="${l.reasonOfLeave}"></td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>